<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for (var i = 0; i < movies.length; i++) { %>

    
        <tr>
            <td><%= movies[i]._id %></td>
            <td><%= movies[i].title %></td>
            <td><%= movies[i].poster_path %></td>
            <td><%= movies[i].backdrop_path %></td>
            <td><%= movies[i].release_date %></td>
        </tr>
    <% } %>
</body>
</html>