<%- include('../base/base_header'); -%>
<body>
    <% for (var i = 0; i < movies.length; i++) { %>
        <div class="container">
            <div class="row">
                    <div>
                        <p> <span class="texto">ID: </span><%= movies[i]._id %></p>
                        <p> <span class="texto">Titulo: </span> <%= movies[i].title %></p>
                        <p> <span class="texto">poster: </span><%= movies[i].poster_path %></p>
                        <p> <span class="texto">backdrop: </span><%= movies[i].backdrop_path %></p>
                        <p> <span class="texto">Release Date: </span><%= movies[i].release_date %></p>
                    </div>
                    <a class="btn btn-light" href="/movies/<%=movies[i].id%>">Detalles</a>
                
            </div>
        </div>
    

    <% } %>
</body>
<%- include('../base/base_footer'); -%>