<%- include('../base/base_header'); -%>
<body>
    <% for (var i = 0; i < movies.length; i++) { %>

    
        <tr>
            <td><%= movies[i]._id %></td>
            <td><%= movies[i].title %></td>
            <td><%= movies[i].poster_path %></td>
            <td><%= movies[i].backdrop_path %></td>
            <td><%= movies[i].release_date %></td>
        </tr>
    <% } %>
</body>
<%- include('../base/base_footer'); -%>